body {
    margin-top: 11em;
    /* margin-left: -30em; */
    display: flex;
    justify-content: flex-start;

    background-color: #ACE1AF
} 

section {
    display: flex;
    justify-content: flex-end;
}
section img{
    width: 300px;
    height: 200px;
    
}


#puzzle-wrapper {
    height: auto;
}

.selected {
   border: 4px solid #aa381e !important;
      
}