body {
    margin-top: 11em;
    /* margin-left: -30em; */
    background-color: #ACE1AF;
    display: flex;
    justify-content: flex-start;
}


section {
    display: flex;
    justify-content: flex-end;
}
section img{
    width: 300px;
    height: 200px;
    
}


#puzzle-wrapper {
    height: auto;
}

.selected {
   border: 2px solid red !important;
      
}